In [258]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests

In [259]:
!which chromedriver

/usr/local/bin/chromedriver

In [260]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [287]:
url_news = 'https://mars.nasa.gov/news'
browser.visit(url_news)
html_news = browser.html
soup_news = BeautifulSoup(html_news, 'html.parser')

In [274]:
results_title = soup_news.find_all('div',class_='content_title')[1]
news_title=results_title.text.strip()
news_title

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

In [290]:
results_p = soup_news.find_all('div', class_='article_teaser_body')[0]
news_p=results_p.text
news_p

'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'

# JPL Mars Space Images - Featured Image

In [291]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [292]:
url_spaceimg = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_spaceimg)
html_spaceimg = browser.html
soup_spaceimg = BeautifulSoup(html_spaceimg, 'html.parser')

In [293]:
results_img_spaceimg = soup_spaceimg.find_all('div',class_='img')[0].find('img')['src']
results_img_spaceimg_1=results_img_spaceimg.split('/',)
results_img_spaceimg_2=results_img_spaceimg_1[4].split('-',)
featured_image_url='https://www.jpl.nasa.gov/'+results_img_spaceimg_1[1]+'/'+results_img_spaceimg_1[2]+'/largesize/'+results_img_spaceimg_2[0]+'_hires.jpg'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23844_hires.jpg'

# Mars Weather

In [294]:
url_weather = 'https://twitter.com/marswxreport?lang=en'
response_weather = requests.get(url_weather)
weather_soup = BeautifulSoup(response_weather.text, 'html.parser')

In [295]:
mars_weather_tweet = weather_soup.find_all('div', class_ = "js-tweet-text-container")[0].find('p').text
mars_weather=mars_weather_tweet.replace('\n','').split('pic.twitter.com/',)[0]
mars_weather

'InSight sol 503 (2020-04-26) low -93.8ºC (-136.8ºF) high -4.9ºC (23.2ºF)winds from the WNW at 4.6 m/s (10.2 mph) gusting to 17.5 m/s (39.1 mph)pressure at 6.70 hPa'

# Mars Facts

In [296]:
import pandas as pd

In [297]:
url_facts = 'https://space-facts.com/mars/'

In [298]:
tables = pd.read_html(url_facts)
mars_table=tables[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [299]:
mars_table.columns=['description','value']

In [300]:
mars_table.set_index('description',inplace=True)
mars_table

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [301]:
html_table = mars_table.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [209]:
mars_table.to_html('mars_table.html')

In [210]:
!open mars_table.html

# Mars Hemispheres

In [224]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [225]:
url_cerberus = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url_cerberus)
html_cer = browser.html
soup_cerberus = BeautifulSoup(html_cer, 'html.parser')

In [242]:
results_cerberus = soup_cerberus.find('img',class_='wide-image')['src']
link__cerberus='https://astrogeology.usgs.gov/'+results_cerberus
print(link__cerberus)
title_cerberus=soup_cerberus.find('h2',class_='title').text
print(title_cerberus)

https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Cerberus Hemisphere Enhanced

In [243]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url_schiaparelli = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(url_schiaparelli)
html_schiaparelli = browser.html
soup_schiaparelli = BeautifulSoup(html_schiaparelli, 'html.parser')

In [245]:
results_schiaparelli = soup_schiaparelli.find('img',class_='wide-image')['src']
link__schiaparelli='https://astrogeology.usgs.gov/'+results_schiaparelli
print(link__schiaparelli)
title_schiaparelli=soup_schiaparelli.find('h2',class_='title').text
print(title_schiaparelli)

https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced

In [246]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url_syrtis = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
browser.visit(url_syrtis)
html_syrtis = browser.html
soup_syrtis = BeautifulSoup(html_syrtis, 'html.parser')

In [247]:
results_syrtis = soup_syrtis.find('img',class_='wide-image')['src']
link__syrtis='https://astrogeology.usgs.gov/'+results_syrtis
print(link__syrtis)
title_syrtis=soup_syrtis.find('h2',class_='title').text
print(title_syrtis)

https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced

In [248]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url_valles = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
browser.visit(url_valles)
html_valles = browser.html
soup_valles = BeautifulSoup(html_valles, 'html.parser')

In [249]:
results_valles = soup_valles.find('img',class_='wide-image')['src']
link__valles='https://astrogeology.usgs.gov/'+results_valles
print(link__valles)
title_valles=soup_valles.find('h2',class_='title').text
print(title_valles)

https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced

In [251]:
hemisphere_image_urls = [
    {"title": title_valles, "img_url": link__valles},
    {"title": title_cerberus, "img_url": link__cerberus},
    {"title": title_schiaparelli, "img_url": link__schiaparelli},
    {"title": title_syrtis, "img_url": link__syrtis}
]
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}]

In [ ]:
#----end----